# Returns: Pandas df : ['Character', 'MentionsCount']
## Original Data: 500k r/Disney comments

In [1]:
import pandas as pd

## Enter your characters

In [2]:
character_list = ['donald duck', 
                  'mickey mouse', 
                  "ariel", "tiana", 
                  "elsa", "simba",
                  "belle", "mulan",
                  "aladdin", "goofy",
                  "cruella de vil"]

## Enter your data file address

In [3]:
data = pd.read_csv("./sampleData/disney_comments_w_sentiment.csv")

/Users/keeks/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (0,3,5,6,7,8,9,11,12,13,18,20,22,23,25,28,29,34,36,37,38,39,40,41,45,46,47,49,51,58,59) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
#Returns number of times (character: str) is mentioned in list of comments
def characters_mentions_count(character_list, df):

    def character_mentions_count(character, df):
        df['body'] = df['body'].str.lower()
        df = df.dropna(subset=['body'])
        selected_df = pd.DataFrame(df[df['body'].str.contains(character)].body)
        return len(selected_df)
    
    list1 = []
    for item in character_list:
        count = character_mentions_count(item, data)
        list1.append((item, count))
    
    return pd.DataFrame(list1, columns =['Character', 'Count'])
    
    
df = characters_mentions_count(character_list, data)
df

         Character  Count
0      donald duck    179
1     mickey mouse    504
2            ariel   1383
3            tiana    455
4             elsa   1476
5            simba    382
6            belle   1270
7            mulan   1530
8          aladdin   1564
9            goofy    994
10  cruella de vil     36

## Enter your output file address

In [5]:
df.to_csv("./sampleData/disney_character_count.csv", header=True, index=False, columns=list(df.axes[1]))